@layer components {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        @apply border-0 border-dark/10 ring-2 ring-primary;
        -webkit-box-shadow: 0 0 0 100px #FDFDFD inset !important;

        &:is(.dark *) {
            @apply border-light/5 ring-primary-dark;
            -webkit-box-shadow: 0 0 0 100px #0F1012 inset !important;
        }
    }
    
    input:-webkit-autofill {
        -webkit-text-fill-color: #0F1012 !important;

        &:is(.dark *) {
            -webkit-text-fill-color: #FDFDFD !important;
        }
    }

    .input {
        @apply block w-full bg-white border font-light border-dark/10 resize-none px-2 py-2 rounded-md outline-none disabled:opacity-50 focus:outline-none focus:ring-2 focus:ring-primary placeholder:text-black/40 dark:bg-black dark:border-light/5 dark:focus:ring-primary-dark dark:placeholder:text-white/40;

        &.error {
            @apply border-danger focus:ring-danger;
        }
    }

    select.input {
        @apply pl-1;
    }

    .label {
        @apply block w-fit mb-1;
    }

    .select-dropdown {
        @apply absolute -bottom-2 text-xs w-full max-h-60 overflow-y-auto overflow-x-visible translate-y-full z-10 bg-white border border-dark/10 rounded-md dark:bg-black dark:border-light/5;

        & > *:first-child {
            @apply rounded-t-md;
        }

        & > *:last-child {
            @apply rounded-b-md;
        }
    }

    .select-option {
        @apply focus-none flex justify-between items-center gap-2 px-2 py-2 w-full text-left border-2 border-transparent duration-200 hover:bg-dark/5 focus:outline-none focus:bg-dark/5 focus:border-primary dark:hover:bg-light/5 dark:focus:bg-light/5 dark:focus:border-primary-dark;
    }
}