@layer components {
    .notification-container {
        @apply absolute top-0 right-0 w-full mt-[67px] origin-top-right pointer-events-none transition-transform ease-out duration-200 lg:scale-[85%] lg:opacity-50 hover:scale-100 hover:opacity-100;

        li:nth-last-of-type(3):not(:nth-of-type(-n+1)),
        li:nth-last-of-type(2):not(:nth-of-type(-n+1)),
        li:nth-last-of-type(1):not(:nth-of-type(-n+1)){
            @apply top-3 left-3 xs:top-4 sm:right-4;
        }

        li:nth-last-of-type(2):not(:nth-of-type(-n+2)),
        li:nth-last-of-type(1):not(:nth-of-type(-n+2)) {
            @apply top-3 left-3 xs:top-5 sm:right-5;
        }

        li:nth-last-of-type(1):not(:nth-of-type(-n+3)) {
            @apply top-3 left-3 xs:top-6 sm:right-6;
        }
    }

    .toast {
        @apply absolute overflow-hidden top-3 right-3 flex select-none bg-white rounded-lg duration-300 border border-dark/5 w-[calc(100%-24px)] max-w-sm ml-auto shadow-custom-lg pointer-events-auto dark:bg-black dark:border-light/5;

        .toast-actions {
            @apply flex flex-col;

            a, button {
                @apply flex grow items-center justify-center text-black/60 min-w-16 p-2 text-sm font-medium border-l border-dark/5 duration-200 hover:bg-dark/2.5 dark:text-white/60 dark:border-light/5;

                &:not(:first-child) {
                    @apply border-t border-dark/5 dark:border-light/5;
                }

                &.primary {
                    @apply text-primary dark:text-primary-dark;
                }

                &.secondary {
                    @apply text-secondary dark:text-secondary-dark;
                }

                &.tertiary {
                    @apply text-tertiary dark:text-tertiary-dark;
                }

                &.info {
                    @apply text-info dark:text-info-dark;
                }

                &.warning {
                    @apply text-warning;
                }

                &.danger {
                    @apply text-danger;
                }
            }
        }
    }
}